{
  "presets": [
    "react",
    [ "env", {
      "targets": {
        "browsers": "> 2%"
      }
    }]
  ],

  "plugins": [
    'transform-class-properties',
    'transform-object-rest-spread',
  ]
}
