# Ignore everything
**

# Allow files and directories
!/Pipfile
!/Pipfile.lock
!/environment.yml
!/conda-linux-64.lock
!/pyproject.toml
!/poetry.lock
!/README.md
!/core/**
!/start_log_agent.sh
# Ignore unnecessary files inside allowed directories
**/*~
**/*.pyc
**/.DS_Store
**/Thumbs.db
