# Ignore everything
**

# Allow files and directories
!/Pipfile
!/Pipfile.lock
!/core/**
!/start_log_agent.sh
# Ignore unnecessary files inside allowed directories
**/*~
**/*.pyc
**/.DS_Store
**/Thumbs.db
