[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pudb = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
black = "==19.3b0"

[packages]
attrs = "*"
flask = "*"
pandas = "*"
matplotlib = "*"
metview = "*"
cfgrib = "*"
xarray = "*"

[requires]
python_version = "3.7"
