[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pudb = "*"
pytest = "*"
pytest-cov = "*"
codecov = "*"
black = "==19.3b0"
isort = "*"

[packages]
attrs = "*"
flask = "*"
pandas = "*"
matplotlib = "*"
metview = "*"
cfgrib = {file = "https://github.com/ecmwf/cfgrib/archive/stable/0.9.7.x.zip"}
xarray = "*"
healthcheck = "*"
netcdf4 = "*"

[requires]
python_version = "3.7"

[scripts]
lint = "bash -c 'isort -rc core tests && black tests core --exclude core/processor/log_factory.py'"
test = "py.test"
server = "python -m core.api"
