.demo-card-square.mdl-card {
  width: 640px;
  height: auto;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #46B6AC;
}

.header-logo img {
    background-size: 140px 24px;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    width: 140px;
    height: 24px;
    margin: 0 15px 0 0;
}

.card > .header {
  color: #fff;
  background-color: #46B6AC;
  font-size: 24px;
  font-weight: 300;
  height: 50px;
  padding: 14px;
}

.mdl-layout__header-row {
  background: black;
}

.mdl-layout__tab-bar {
  background: black;
  letter-spacing: 1px;
}

.text-muted {
  color: rgba(0,0,0,.54);
  font-size: 1rem;
  padding-left: 16px;
}

.type-selector {
  margin-left: 16px;
  font-size: 16px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.54);
}