[Desktop Entry]
Version=1.0
Name=ecPoint-pyCal
Comment=Calibration Software in Python developed at ECMWF
Exec=ecpoint-pycal
Terminal=false
Type=Application
Categories=Application;
